@font-face {
font-family: VarelaRound-Regular;
src: url('http://coyamenu.app.appery.io/font/VarelaRound-Regular.ttf');
}



@font-face {
font-family: GzaTrial-Bold;
src: url('{{asset('web/font/Gotham-BoldItalic 400.otf')}}');
}

@font-face {
font-family: Raleway-Regular;
src: url('{{asset('web/font/Raleway-Italic-VariableFont_wght.ttf')}}');
}

.vrr {
text-shadow:none!important;
font-family:"Raleway-Regular"!important; 
}


.gza {
text-shadow:none!important;
font-family:"GzaTrial-Bold"!important; 
}


.vrr2 {
text-shadow:none!important;
font-family:"Raleway-Regular"!important;
line-height: 100%!important;
}


.alignfonts{
    float:left!important;
    margin-right: 5px!important;
}