/* SPINNER */
span.ui-icon-loading {
	display:none!important;
/*	background: url("../img/ripple.gif") repeat scroll 0 0 / 46px 46px transparent!important;*/
}




.v100{
      position: relative;
      height: 100vh!important;
}

.swiper-wrapper {
overflow:visible!important;
      position: fixed!important;
      z-index:1!important;
      height:100%important;
}



.swiper-container {
overflow:hidden!important;
width: 100%;
height: 100%;
position: fixed!important;/*relative*/
}




/*main*/


.swiper-slide {
    width: 100%!important;
    height:100%important;
    position: relative;
    z-index: 1!important;
           
}


.swipertitles {
    position:absolute!important;
    z-index:100!important;
    top: 20px!important;
    left:20px!important;
}




.swiper-pagination {
    position:relative!important;text-align:center;-webkit-transition:.3s;-moz-transition:.3s;-o-transition:.3s;transition:.3s;-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0);z-index:10;
}



.swiper-pagination-bullet{ background: #cfa350!important; opacity: 0.3!important; } 
.swiper-pagination-bullet-active{ background: #cfa350!important; opacity: 1!important; }


.swiper-pagination-v {
    position:absolute!important;
    z-index:100;

    bottom:10px!important;
    width:10px!important;
}



.imagestretch {
    position:absolute!important;
    height:100%!important;
    width:100%!important;
  object-fit:cover!important;
  z-index:0;
}

.imagestretch2 {
    position:absolute!important;
    
    width:100%!important;
  top:5vh!important;
  z-index:1;
}

.imagesquare{
    width:100%!important;
    height: 100vw!important;
}


.backgroundimage {
    position:absolute!important;
    z-index:0;
top:0!important;
left:0!important;
width:100%!important;
height:100%!important;


}

.fullgrid {
    position:absolute!important;
    height:100%!important;

}

.outerbox{
    width:100%!important;
        height:100vh!important;
    
}
.gridborder {
    border:1px solid #ffffff;
    position:relative!important;
    height:100%!important;
    top:250px!important;
    bottom:20px!important;
    width:100%!important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    display: inline-block;
}


.gridborder2 {
    
    border:0;
    position:relative!important;
    height:40vh!important;
    
    bottom:0!important;
    
    width:100%!important;
   background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    display: inline-block;
}

.gridborder2b {
    
    border:0;
    position:relative!important;
    
    width:100%!important;
   background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    display: inline-block;
}

.gridborderbuttonbox {
    
    border:0;
    position:relative!important;
    height:90vh!important;
    bottom:0!important;
    width:100%!important;
   background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    display: inline-block;
}


.ui-btn { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:transparent!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#000000!important;
    font-family:"Raleway-Regular"!important; 
}

.redbutton { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:#c54245!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#ffffff!important;
    font-family:"Raleway-Regular"!important; 
}


.greenbutton { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:#42c581!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#ffffff!important;
    font-family:"Raleway-Regular"!important; 
}

.goldbutton { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:#be8743!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#ffffff!important;
    font-family:"Raleway-Regular"!important; 
}

.buttonredtext { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:transparent!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#c54245!important;
    font-family:"Raleway-Regular"!important; 
}

.buttongoldtext { 
    white-space: normal;
    border:none!important;
   box-shadow:none!important;
    background-color:transparent!important;/*rgba(255, 255, 255, 0.9)!important;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79)!important;*/
    color:#be8743!important;
    font-family:"Raleway-Regular"!important; 
}

.gridborder3 {
    
    border:0;
    position:relative!important;
    height:100vh!important;
    width:100%!important;
   background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    display: inline-block;
}



.gridborder4 {
    
    border:0;
    position:relative!important;
    height:100vh!important;
    width:100%!important;
   background-color: rgba(0, 0, 0, 0.6);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.79);*/
    display: inline-block;
}





/* IMAGE */

img.centeredImage {
    margin-left: auto;
    margin-right: auto;
}



/* burger */
.burger{
  top:58px!important;
    right:60px!important;
    position:fixed!important;
    z-index:50!important;
}

/* panel */

.ui-panel{
    
    border:none!important;
    background:#333333!important;
    
  
}

.panelblackbox {
   border:1px solid #ffffff;
    height:100%important;
   background-color: rgba(0, 0, 0, 0.7);
   position: relative!important;
   z-index:51!important;
}

.panelwhitebox {
   border:0;
    height:100%important;
   background-color: rgba(255, 255, 255, 0.8);
   position: relative!important;
   z-index:51!important;
}

.panelbox{
    border:0;
    height:100%important;
    width:100%!important;
   position: absolute!important;
   z-index:1!important;
}

.panelimage {
    position:absolute!important;
    height:100%!important;
    width:100%!important;
  object-fit:cover!important;
  z-index:0;
  top:0!important;
  left:0!important;
}

/* fakeloader */

.flposition {
    position:absolute!important;
}

/* vertical center */
.verticalcenter {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


/*menu buttons */

.bottomleftbutton{
    position:fixed!important;
    bottom:20px!important;
    left:20px!important;
    width:60px!important;
    height:60px!important;
    z-index:999!important;
}

.bottomhomebut{
    position:fixed!important;
    top:80px!important;
    right: 10px!important;
    /*-ms-transform: translateX(-50%)!important;
    transform: translateX(-50%)!important;*/
    width:50px!important;
    height:50px!important;
    z-index:999!important;
}

.bottomrightbutton{
    position:fixed!important;
    bottom:20px!important;
    right:20px!important;
    width:60px!important;
    height:60px!important;
    z-index:999!important;
}


/* choice buttons */

.selectitem{
    position:absolute!important;
    top:100vw!important;
    -ms-transform: translateY(-60px)!important;
    transform: translateY(-60px)!important;
    left:10px!important;
    width:50px!important;
    height:50px!important;
    z-index:999!important;
}

.viewselected{
    position:fixed!important;
    top:10px!important;
    right:10px!important;
    width:50px!important;
    height:50px!important;
    z-index:999!important;
}